doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src="https://kit.fontawesome.com/d813dffe7b.js" crossorigin="anonymous")
    link(rel="stylesheet" href="css/main.css")
    title business

body
  include section/header
  include section/form
