.button{
  background-color: #397DFF;
  width: 90%;
  height: 52px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  &:hover, &:focus, &:active{
  background-color:  lighten($button_color, 10%);
  }
}
