.contact{
  &_tell{
    display: flex;
    flex-direction: column;


    &_icon{
      @include sprite($phone-icon);
      background-image: url($phone-icon-image);
      margin-right: 10px;
    }
    a{
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      color: #397DFF;
    }
  }
  &_mail{
    vertical-align: middle;
    margin-right: 56px;

    &_icon{
      @include sprite($mail-icon);
      background-image: url($mail-icon-image);
      margin-right: 8px;
    }
  }
  &_text{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #2B2D3A;
  }
}
