.nav{
  &_link{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(43, 45, 58, 0.7);
    margin-right: 33px;

    &:last-child{
      margin-right: 57px;
    }

    &_active{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #397DFF;
    }
  }
}
