.contacts
  a.contact.contact_mail(href="mailto:info@sld-store.ru")
    span.contact_text info@sld-store.ru

  .contact.contact_tell
    a.contact(href="tel:+88126156279") Обратный звонок
    span.contact_text 8 812 615-62-79
