.form
  .form_container
    h2.form_title Готовы обсудить проект?
    p.form_text Заполните форму ниже и мы свяжемся с вами.
    form.form_sub
      fieldset.form_enter
        input.form_input(type="text" placeholder="Имя*")
        input.form_input(type="text" placeholder="Телефон*")
        .form_check
          input(type="checkbox")
          p Я согласен с условиями обработки персональных данных
        button.button Отправить
